#main-canvas {
    @media (width <= 768px) {
        position: fixed;
        z-index: 1;
        top: 20px;
    }

    width: 90%;
    border: 2px $pink solid;
}

#sidebar {
    @media (width <= 768px) {
        width: 100%;
        min-height: 100dvh;
        padding: 20px;
    }

    @media (width > 768px) and (width <= 1500px) {
        width: 220px;
        height: 100dvh;
        padding: 20px;
    }
    @media (width > 1500px) {
        width: 300px;
        height: 100dvh;
        padding: 25px;
    }

    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #fa8291 0%, #c96975 100%);
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.notice-p {
    @media (width > 768px) and (width <= 1500px) {
        font-size: 14px;
    }
    @media (width > 1500px) {
        font-size: 16px;
    }
}

#content {
    @media (width <= 768px) {
        width: 100%;
        height: 500px;
    }
    @media (width > 768px) {
        width: 100%;
        height: 100dvh;
    }
    padding: 25px;
    box-sizing: border-box;
}

.group {
    margin-bottom: 16px;
}

.setting {
    margin: 8px 0;
}

.button-icons {
    display: flex;
    flex-direction: column;
}

.picker-item:hover {
    @media (width <= 768px) {
        transform: scale(1.1);
    }
    @media (width > 768px) {
        transform: scale(1.5);
    }
    z-index: 10;
    cursor: pointer;
}

#background-picker,
.background-picker-item {
    object-fit: cover;
}

#costume-picker,
.costume-picker-item {
    object-fit: contain;
}

#picker {
    @media (width <= 768px) {
        padding: 20px;
    }
    @media (width > 768px) {
        padding: 70px;
    }
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000bb;
    height: 100dvh;
    width: 100vw;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
}

#picker-close {
    position: fixed;
    top: 25px;
    left: 25px;
    margin: inherit;
    filter: $shadow;
    z-index: 1001;
}

.tabs {
    @media (width <= 768px) {
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    @media (width > 768px) {
        top: 0;
        right: 0;
    }
    padding: inherit;
}

.save {
    @media (width <= 768px) {
        z-index: 3;
    }
}

.hide-sidebar {
    @media (width <= 768px) {
        display: none;
    }
    @media (width > 768px) {
        display: block;
    }
}

.picker-item.item-selected {
    border: 10px $orange solid;
    box-sizing: border-box;
}

@media (width <= 768px) {
    #char-icon-img {
        height: 30px;
        width: 30px;
        background-color: $white;
    }

    .color-select {
        margin: 2px 0;
    }

    .sprite-setting-icon,
    .text-setting-icon {
        font-size: 25px;
        margin-left: 25px;
    }

    .image-picker {
        height: 180px;
        width: 100%;
        border-radius: 10px;
        border: 2px $white solid;
        cursor: pointer;
    }

    .picker-item {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        border: 2px solid $white;
        aspect-ratio: 1/1;
        margin: 5px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .icon-expression {
        font-size: 30px;
    }

    .expression-value {
        font-size: 25px;
        font-weight: bold;
    }
}

@media (width > 768px) and (width <= 1500px) {
    #char-icon-img {
        height: 30px;
        width: 30px;
        background-color: $white;
    }

    .color-select {
        margin: 2px 0;
    }

    .sprite-setting-icon,
    .text-setting-icon {
        font-size: 15px;
        margin-left: 5px;
    }

    .image-picker {
        height: 180px;
        width: 100%;
        border-radius: 10px;
        border: 2px $white solid;
        cursor: pointer;
    }

    .picker-item {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        border: 2px solid $white;
        aspect-ratio: 1/1;
        margin: 10px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .icon-expression {
        font-size: 30px;
    }

    .expression-value {
        font-size: 25px;
        font-weight: bold;
    }
}

@media (width > 1500px) {
    #char-icon-img {
        height: 40px;
        width: 40px;
        background-color: $white;
    }

    .color-select {
        margin: 4px 0;
    }

    .sprite-setting-icon,
    .text-setting-icon {
        font-size: 20px;
        margin-left: 10px;
    }

    .image-picker {
        height: 250px;
        width: 100%;
        border-radius: 10px;
        border: 2px $white solid;
        cursor: pointer;
    }

    .picker-item {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid $white;
        aspect-ratio: 1/1;
        margin: 10px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .icon-expression {
        font-size: 35px;
    }

    .expression-value {
        font-size: 30px;
        font-weight: bold;
    }
}
