#content {
    width: 100%;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #fa8291 0%, #c96975 100%);
    width: 300px;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: auto;
}

.group {
    margin-bottom: 16px;
}

.setting {
    margin: 8px 0;
}

#icon {
    height: 40px;
    width: 40px;
}

.image-picker {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border: 2px $white solid;
}

.color-select {
    margin: 4px 0;
}

.button-icons {
    display: flex;
    flex-direction: column;
}

#main-canvas {
    width: 80%;
    border: 2px $pink solid;
}

.icon-expression {
    font-size: 35px;
}

.expression-value {
    font-size: 30px;
    font-weight: bold;
}