#main-canvas {
    width: 80%;
    border: 2px $pink solid;
}

#content {
    width: 100%;
    height: 100dvh;
    padding: 25px;
    box-sizing: border-box;
}

.group {
    margin-bottom: 16px;
}

.setting {
    margin: 8px 0;
}

.button-icons {
    display: flex;
    flex-direction: column;
}

.picker-item:hover {
    transform: scale(1.5);
    z-index: 10;
    cursor: pointer;
}

#background-picker,
.background-picker-item {
    object-fit: cover;
}

#costume-picker,
.costume-picker-item {
    object-fit: contain;
}

#picker {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000bb;
    height: 100dvh;
    width: 100vw;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
    box-sizing: border-box;
    overflow: auto;
}

#picker-close {
    position: fixed;
    top: 25px;
    left: 25px;
    margin: inherit;
    filter: $shadow;
}

@media (width <= 1500px) {
    #sidebar {
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #fa8291 0%, #c96975 100%);
        width: 220px;
        height: 100dvh;
        padding: 20px;
        box-sizing: border-box;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #char-icon-img {
        height: 30px;
        width: 30px;
        background-color: $white;
    }

    .color-select {
        margin: 2px 0;
    }

    .sprite-setting-icon,
    .text-setting-icon {
        font-size: 15px;
        margin-left: 5px;
    }

    .image-picker {
        height: 180px;
        width: 100%;
        border-radius: 10px;
        border: 2px $white solid;
        cursor: pointer;
    }

    .picker-item {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        border: 2px solid $white;
        aspect-ratio: 1/1;
        margin: 10px;
        cursor: pointer;
    }

    .icon-expression {
        font-size: 30px;
    }

    .expression-value {
        font-size: 25px;
        font-weight: bold;
    }
}

@media (width > 1500px) {
    #sidebar {
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #fa8291 0%, #c96975 100%);
        width: 300px;
        height: 100dvh;
        padding: 25px;
        box-sizing: border-box;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #char-icon-img {
        height: 40px;
        width: 40px;
        background-color: $white;
    }

    .color-select {
        margin: 4px 0;
    }

    .sprite-setting-icon,
    .text-setting-icon {
        font-size: 20px;
        margin-left: 10px;
    }

    .image-picker {
        height: 250px;
        width: 100%;
        border-radius: 10px;
        border: 2px $white solid;
        cursor: pointer;
    }

    .picker-item {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid $white;
        aspect-ratio: 1/1;
        margin: 10px;
        cursor: pointer;
    }

    .icon-expression {
        font-size: 35px;
    }

    .expression-value {
        font-size: 30px;
        font-weight: bold;
    }
}
