.w-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    color: $white;
}

.right-10 {
    margin-right: 10px;
}

.right-20 {
    margin-right: 20px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.bottom-20 {
    margin-bottom: 20px;
}

.label-checkbox,
.label-slider {
    font-size: 25px;
    font-weight: normal;
}

.hide {
    display: none !important;
}
