.w-100 {
    width: 100%;
}

.row {
    display: 'flex';
    flex-direction: row;
}

.column {
    display: 'flex';
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}