@media (width <= 1500px) {
    .label-checkbox,
    .label-slider {
        font-size: 20px;
        font-weight: normal;
    }
}
@media (width > 1500px) {
    .label-checkbox,
    .label-slider {
        font-size: 25px;
        font-weight: normal;
    }
}

.w-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.gray {
    color: $gray;
}

.left-10 {
    margin-left: 10px;
}

.left-20 {
    margin-left: 20px;
}

.right-10 {
    margin-right: 10px;
}

.right-20 {
    margin-right: 20px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.bottom-20 {
    margin-bottom: 20px;
}

.margin-10 {
    margin: 10px;
}

.font-20 {
    font-size: 20px;
}

.font-normal {
    font-weight: normal;
}

.hide {
    display: none !important;
    width: 0;
    opacity: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-right {
    right: 0;
    top: 0;
    padding: inherit;
}

.top-left {
    left: 0;
    top: 0;
    padding: inherit;
}

.bottom-right {
    right: 0;
    bottom: 0;
    padding: inherit;
}

.bottom-left {
    left: 0;
    bottom: 0;
    padding: inherit;
}

.bottom-center {
    bottom: 0;
    padding: inherit;
}

.space-center {
    justify-content: space-between;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.full-screen {
    min-height: 100dvh;
    min-width: 100dvw;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.notice {
    top: -20px;
    right: 0;
    z-index: 20;
    height: 50px;
}

.fixed-0-0 {
    position: fixed;
    top: 0;
    left: 0;
}

.underline {
    text-decoration: underline;
}

.text-orange {
    color: $orange;
}
