input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 5px;
}

input[type="range"].white::-webkit-slider-runnable-track {
    background: $white;
    height: 5px;
}

input[type="range"].white::-moz-range-track {
    background: $white;
    height: 5px;
}

input[type="range"].pink::-webkit-slider-runnable-track {
    background: $pink;
    height: 5px;
}

input[type="range"].pink::-moz-range-track {
    background: $pink;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border: 3px $white solid;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $pink;
    height: 20px;
    width: 20px;
    margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
    border: 3px $white solid;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $pink;
    height: 20px;
    width: 20px;
}
