$white: #f8f8f8;
$black: #484848;
$gray: #d2d2d2;
$pink: #fa8291;
$green: #94de64;
$orange: #ffb637;

$shadow: drop-shadow(0px 0px 2px #000);

@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');

@font-face {
    font-family: "FOT-Skip Std";
    src: local("FOT-Skip Std"),
        url("../fonts/FOT-SkipStd-B.otf") format("opentype");
}

// * {
//     font-family: "Arsenal", sans-serif;
//     font-weight: 700;
// }

.latin {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
}

.cjk {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 700;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

canvas {
    font-family: "FOT-Skip Std", sans-serif;
    font-weight: normal;
}
