#content {
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #fa8291 0%, #c96975 100%);
    width: 300px;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.group {
    margin-bottom: 16px;
}

.setting {
    margin: 8px 0
}