@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 0px none;
  filter: drop-shadow(0px 0px 2px #000);
  text-align: center;
  font-style: normal;
  line-height: normal;
}

button.btn-white {
  color: #484848;
  background-color: #f8f8f8;
}

button.btn-pink {
  color: #f8f8f8;
  background-color: #fa8291;
}

button.btn-green {
  color: #f8f8f8;
  background-color: #94de64;
}

button.btn-orange {
  color: #f8f8f8;
  background-color: #ffb637;
}

button.btn-small {
  padding: 10px;
  font-size: 30px;
  height: 60px;
}

button.btn-large {
  padding: 15px;
  font-size: 40px;
  height: 80px;
}

button.btn-512 {
  width: 512px;
}

button.btn-384 {
  width: 384px;
}

button.btn-288 {
  width: 288px;
}

button.btn-256 {
  width: 256px;
}

button.btn-192 {
  width: 192px;
}

button.icon {
  height: 80px;
  width: 80px;
  padding: 15px;
}

i.icon-btn {
  font-size: 50px;
  line-height: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='50' width='50' viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'><path d='M7 9l5 8 5-8z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border-radius: 8px;
  border: 0px none;
  filter: drop-shadow(0px 0px 2px #000);
  text-align: left;
  font-style: normal;
  line-height: normal;
  color: #484848;
  background-color: #f8f8f8;
  text-overflow: ellipsis;
}

select.sel-small {
  padding: 10px 30px 10px 20px;
  font-size: 30px;
  height: 60px;
}

select.sel-large {
  padding: 15px;
  font-size: 40px;
  height: 80px;
}

select.sel-512 {
  width: 512px;
}

select.sel-384 {
  width: 384px;
}

select.sel-288 {
  width: 288px;
}

select.sel-256 {
  width: 256px;
}

select.sel-192 {
  width: 192px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  background-color: #d2d2d2;
  cursor: pointer;
}

input[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #d2d2d2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

input[type=checkbox]:checked {
  background-color: #ffb637;
}

input[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

input[type=checkbox]:disabled {
  background-color: #ccd3d8;
  opacity: 0.84;
  cursor: not-allowed;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 5px;
}

input[type=range].white::-webkit-slider-runnable-track {
  background: #f8f8f8;
  height: 5px;
}

input[type=range].white::-moz-range-track {
  background: #f8f8f8;
  height: 5px;
}

input[type=range].pink::-webkit-slider-runnable-track {
  background: #fa8291;
  height: 5px;
}

input[type=range].pink::-moz-range-track {
  background: #fa8291;
  height: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border: 3px #f8f8f8 solid;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #fa8291;
  height: 20px;
  width: 20px;
  margin-top: -7px;
}

input[type=range]::-moz-range-thumb {
  border: 3px #f8f8f8 solid;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #fa8291;
  height: 20px;
  width: 20px;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px #f8f8f8 solid;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

textarea {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0px;
  font-weight: normal;
  resize: vertical;
}

#content {
  width: 100%;
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
}

#sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fa8291 0%, #c96975 100%);
  width: 300px;
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: auto;
}

.group {
  margin-bottom: 16px;
}

.setting {
  margin: 8px 0;
}

#icon {
  height: 40px;
  width: 40px;
}

.image-picker {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  border: 2px #f8f8f8 solid;
}

.color-select {
  margin: 4px 0;
}

.button-icons {
  display: flex;
  flex-direction: column;
}

#main-canvas {
  width: 80%;
  border: 2px #fa8291 solid;
}

.icon-expression {
  font-size: 35px;
}

.expression-value {
  font-size: 30px;
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  color: #f8f8f8;
}

.right-10 {
  margin-right: 10px;
}

.right-20 {
  margin-right: 20px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.label-checkbox,
.label-slider {
  font-size: 25px;
  font-weight: normal;
}

.hide {
  display: none !important;
  width: 0;
  opacity: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-right {
  right: 0;
  top: 0;
  padding: inherit;
}

.bottom-right {
  right: 0;
  bottom: 0;
  padding: inherit;
}

.bottom-left {
  left: 0;
  bottom: 0;
  padding: inherit;
}

.space-center {
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  transition: all 0.2s;
}

body {
  background-color: #f8f8f8;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

h1 {
  font-size: 35px;
}

img {
  box-shadow: none;
  border: 0px;
  object-fit: contain;
}

/*# sourceMappingURL=main.css.map */
