@import "theme";
@import "button";
@import "select";
@import "checkbox";
@import "slider";
@import "picker";
@import "textarea";
@import "text";
@import "dialogue";
@import "props";

* {
    margin: 0px;
    padding: 0px;
    transition: all 0.2s;
}

body {
    background-color: $white;
    min-height: 100dvh;
}

img {
    box-shadow: none;
    border: 0px;
    object-fit: contain;
}

main {
    @media (width <= 768px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    @media (width > 768px) {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}

@media (width > 768px) and (width <= 1500px) {
    h1 {
        font-size: 25px;
    }

    #mobile {
        display: none;
    }
}

@media (width > 1500px) {
    h1 {
        font-size: 35px;
    }

    #mobile {
        display: none;
    }
}

#mobile {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8666666667);
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
}
