@import "theme";
@import "button";
@import "select";
@import "checkbox";
@import "slider";
@import "picker";
@import "dialogue";
@import "props";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $white;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

h1 {
    font-size: 35px;
}

img {
    box-shadow: none;
    border: 0px;
}
